:root {
    --text-grey:rgb(125, 127, 132);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
/* solo temporaneo perchè non ha contenuto */
body >*, .main-container>*, .main-content-container>* {
    min-height: 50px;
    min-width: 100px;
    border: 1px solid red;
}
.main-container {
    flex-grow: 1;
    overflow: auto;
    display: flex;
}
.main-content-container {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.nav-bar {
    background-color: black;
    width: 200px;
    overflow: auto;
    flex-shrink: 0;
}
.body-content {
    background-color: rgb(20, 25, 34);
    flex-grow: 1;
    overflow: auto;
}

.play-nav-container {
    background-color: rgb(40, 40, 40);
    height: 100px;
    flex-shrink: 0;
}

/* UPGRADE */
.upgrade {
    background-color: rgb(8, 11, 18);
    height: 60px;
    flex-shrink: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}
.upgrade-button  {
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    background-color: rgb(8, 11, 18);
    width: 200px;
    height: 40px;
    margin-right: 10px;
}
.upgrade-button:hover {
    width: 220px;
    height: 45px;
}

/* BODY CONTENT  */

.body-content {
    background-color: rgb(20, 25, 34);
    flex-grow: 1;
    overflow: auto;
    
}
    /* card choices */
.body-content .choices {
    margin-top: 20px;
    display: flex;
    justify-content: center;

} 
.body-content .choices a {
    color: var(--text-grey);
    text-decoration: none;
    padding: 10px;

}
.body-content .choices a:hover {
    color: white;
    text-decoration: none;
}

    /* recently played */
.container {
    margin-left: 15px;
}
.container h2 {
    margin-bottom: 20px;
}
.row {
    width: 100%;
    display: flex;
    /* gap: 20px; */
}
.col {
    flex-grow: 1;
    flex-basis: calc(100% / 6);
    
}
.images {
    position: relative;
}
.images img {
    width: 270px;
    height: 270px;
}
.images img:hover {

}
.image-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.card h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.card p {
    color: var(--text-grey);
    text-align: center;
}


