:root {
    --text-grey:rgb(125, 127, 132);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    flex-grow: 1;
    overflow: auto;
    display: flex;
}
.main-content-container {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.body-content {
    background-color: rgb(20, 25, 34);
    flex-grow: 1;
    overflow: auto;
}

.play-nav-container {
    background-color: rgb(40, 40, 40);
    height: 100px;
    flex-shrink: 0;
}

/* UPGRADE */
.upgrade {
    background-color: rgb(8, 11, 18);
    height: 60px;
    flex-shrink: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}
.upgrade-button  {
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    background-color: rgb(8, 11, 18);
    width: 200px;
    height: 40px;
    margin-right: 10px;
}
.upgrade-button:hover {
    width: 220px;
    height: 45px;
}

/* BODY CONTENT  */

.body-content {
    background-color: rgb(20, 25, 34);
    flex-grow: 1;
    overflow: auto;
    
}
    /* card choices */
.body-content .choices {
    margin-top: 20px;
    display: flex;
    justify-content: center;

} 
.body-content .choices a {
    color: var(--text-grey);
    text-decoration: none;
    padding: 15px;

}
.body-content .choices a:hover {
    color: white;
    text-decoration: none;
}

    /* recently played */
.body-content {
    padding: 0 15px;
}
.container {
    
    width: 100%;
    margin-bottom: 30px;
}
.container h2 {
    margin-bottom: 20px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.col {
    flex-basis: calc((100% / 6) - 10px);
}
.images {
    position: relative;
}
.images img {
    width: 100%;
}
.images:hover .image-hover {
    display: flex;
}
.image-hover {
    position: absolute;
    top: 0;
    display: none;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.card p {
    text-align: center;
}
.container p {
    color: var(--text-grey);
    margin-bottom: 20px;
}
    /* artisti */
.artisti img {
    border-radius: 50%;
}

/* NAV-BAR */
.nav-bar {
    background-color: black;
    max-width: 200px;
    overflow: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 10px;
}
.navbar-list, .playlist-container li {
    list-style: none;
}

.logo-section {
    margin: 1rem 0;
}
.menu-section {
    margin-bottom: 15px;
}
.logo-large {
    height: 40px;
}
.logo-small {
    display: none;
    height: 1.5rem;
}
.navbar-list .navbar-list-item, .playlist-container li a {
    display: inline-block;
    color: var(--text-grey);
    text-decoration: none;
    padding: 0.4rem 0;
}
.navbar-list .navbar-list-item:hover, .playlist-container li a:hover {
    color: white;
}
.navbar-list .navbar-list-item img {
height: 1.5rem;
}
.bottom-section {
    margin-top: auto;
}
.border-bottom {
    border-bottom: 1px solid var(--text-grey);
}
.playlist-section {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.playlist-section .playlist-container {
    flex-grow: 1;
    overflow: auto;
}
.playlist-container li a {
    text-decoration: none;
    color: ;
}
.crea {
    display: flex;
    align-items: center;
}
.crea span {
    padding-left: 5px;
    color: var(--text-grey);
}
.crea span:hover {
    color: white;
}


/* RESPONSIVE */
@media screen and (max-width: 1100px) {
    .col {
        flex-basis: calc((100% / 4) - 10px);
    }
}
@media screen and (max-width: 700px) {
    .col {
        flex-basis: calc((100% / 2) - 10px);
    }
}
@media screen and (max-width: 600px) {
    .logo-large {
        display: none;
    }
    .logo-small {
        display: block;
        margin: auto;
    }
    .navbar-list-item-text {
        display: none;
    }
    .nav-bar {
        text-align: center;
        padding-right: 1rem;
    }
    .playlist-section {
        display: none;
    }
    
}



